
 body {
    background-image: url("images/westcord.jpg");
    background-repeat: no-repeat;
	font-family: calibri;
	width: 100%;
}
ul{
 margin: 0;
 padding: 0;
 }
div.img {
    margin-top: 244px;
	margin-bottom: 187px;
	margin-right: 436px;
	padding: 5px;
	border: ;
	height: auto;
	width: auto;
	float: right;
	text-align: center;
	background-color:  #e0ffff;
}

div.img2 {
	margin-top: -467px;
margin-right: 141px;	
	padding: 5px;
	border: ;
	height: auto;
	width: auto;
	float: right;
	text-align: center;
	background-color: ;
}

div.desc {
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
}
div.desc {
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
}

.table {
    background: rgba(255,255,255,0.5);
    margin: 20px;
    width: 300px;
    line-height:40px;
    padding:5px;
}

.logout {
    background: rgba(255,255,255,0.5);
    margin: 10px;
    width: 270px;
    line-height:20px;
    padding:3px;
	float:right;
}
#footer {
	background:rgba(255,255,255,0.5);
	width:100%;
	height:20px;
	position:absolute;
	bottom:0;
	left:0;
	text-align:center;
}

@media screen and (min-width: 955px) {
 body {
    background-image: url("images/westcord.jpg");
    background-repeat: no-repeat;
	font-family: calibri;
	width: 100%;
}
ul{
 margin: 0;
 padding: 0;
 }
div.img {
    margin-top: 244px;
	margin-bottom: 187px;
	margin-right: 436px;
	padding: 5px;
	border: ;
	height: auto;
	width: auto;
	float: right;
	text-align: center;
	background-color: #C0C0C0; 
}

div.img2 {
	margin-top: -467px;
	margin-right: 381px;	
	padding: 5px;
	border: ;
	height: auto;
	width: auto;
	float: right;
	text-align: center;
	background-color: ;
}
div.desc {
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
}


.table {
    background: rgba(255,255,255,0.5);
    margin: 20px;
    width: 300px;
    line-height:40px;
    padding:5px;
}

.logout {
    background: rgba(255,255,255,0.5);
    margin: 10px;
    width: 270px;
    line-height:20px;
    padding:3px;
	float:right;
}
#footer {
	background:rgba(255,255,255,0.5);
	width:100%;
	height:20px;
	position:absolute;
	bottom:0;
	left:0;
	text-align:center;
}
}
