@media screen and (min-width: 320px) {
 body {
    background-image: url("images/westcord.jpg");
    background-repeat: no-repeat;
	font-family: calibri;
	width: 100%;
}
ul{
 margin: 0;
 padding: 0;
 }
div.img {
margin-top: 71px;
margin-bottom: 190px;
margin-right:  42px;
	padding: 5px;
	border: ;
	height: auto;
	width: auto;
	float: right;
	text-align: center;
	background-color:  #00FF99;
}

div.img2 {
	margin-top: -139px;
	margin-right:  42px;
	padding: 5px;
	border: ;
	height: auto;
	width: auto;
	float: right;
	text-align: center;
	background-color: ;
}

div.desc {
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
}
div.desc {
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
}

.table {
    background: rgba(255,255,255,0.5);
    margin: 0px;
    width: 300px;
    line-height:40px;
    padding:5px;
}
.tasktable {
    background: #eee;
    margin: 20px;
    width: 280px;
    line-height:40px;
    padding:5px;
	overflow-x: auto;
	display: block;
	}
.searchtable {
    background: rgba(255,255,255,0.5);
	margin: 15px;
	margin-left: 60px;
	margin-bottom: -14px;
    width: 205px;
    line-height:40px;
    padding:5px;
}
div.information{
background: rgba(255,255,255,0.5);
margin: 36px;
margin-left: 50px;
width: 241px;
line-height: 33px;
padding: 5px;
}

div.locationtable {
    background: rgba(255,255,255,0.5);
    margin: 40px;
	margin-left: 50px;
	width: 227px;
    line-height:40px;
    padding:5px;
}
.submittable {
    background: rgba(255,255,255,0.5);
	margin: 40px;
	margin-top: 55px;
	margin-left: 1px;
	width: 254px;
	line-height: 23px;
    padding:5px;
}
.tickettable {
    background: rgba(255,255,255,0.5);
	margin: 40px;
	margin-top: 55px;
	
	width: 254px;
	line-height: 23px;
    padding:5px;
}
.logout {
    background: rgba(255,255,255,0.5);
    margin: -67px;
	margin-right: 22px;
    width: 270px;
    line-height:20px;
    padding:3px;
	float:right;
}

}
@media screen and (min-width: 480px) {
 body {
    background-image: url("images/westcord.jpg");
    background-repeat: no-repeat;
	font-family: calibri;
	width: 100%;
}
ul{
 margin: 0;
 padding: 0;
 }
div.img {
	margin-top: 18px;
	margin-bottom: 190px;
	margin-right: 138px;
	padding: 5px;
	border: ;
	height: auto;
	width: auto;
	float: right;
	text-align: center;
	background-color:  #CCFFCC;
}

div.img2 {
	margin-top: -163px;
	margin-right: 141px;
	padding: 5px;
	border: ;
	height: auto;
	width: auto;
	float: right;
	text-align: center;
	background-color: ;
}

div.desc {
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
}
div.desc {
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
}
.submittable {
    background: rgba(238, 238, 238, 1);
    margin: 40px;
	margin-top: 111px;
    width: 384px;
    line-height:40px;
    padding:5px;
}
.tickettable {
    background: rgba(255,255,255,0.5);
	margin: 40px;
	margin-top: 55px;
	
	width: 254px;
	line-height: 23px;
    padding:5px;
}
.table {
    background: rgba(255,255,255,0.5);
    margin: 20px;
    width: 280px;
    line-height:40px;
    padding:5px;
}
.searchtable {
    background: rgba(255,255,255,0.5);
	margin: 80px;
	margin-left: 225px;
	margin-bottom: -13px;
    width: 205px;
    line-height:40px;
    padding:5px;
}
.locationtable {
    background: rgba(255,255,255,0.5);
    margin: 40px;
	margin-left: 576px;
	width: 227px;
    line-height:40px;
    padding:5px;
}
.tasktable {
    background: rgba(255,255,255,0.5);
    margin: 20px;
	margin-left: 184px;
    width: 280px;
    line-height:40px;
    padding:5px;
	overflow-x: auto;
	display: block;
	}

.logout {
    background: rgba(255,255,255,0.5);
    margin: 4px;
margin-top: -74px;
    width: 270px;
    line-height:20px;
    padding:3px;
	float:right;
}

}
@media screen and (min-width: 640px) {
 body {
    background-image: url("images/westcord.jpg");
    background-repeat: no-repeat;
	font-family: calibri;
	width: 100%;
}
ul{
 margin: 0;
 padding: 0;
 }
div.img {
	margin-top: 31px;	
	margin-bottom: 190px;
	margin-right: 330px;
	padding: 5px;
	border: ;
	height: auto;
	width: auto;
	float: right;
	text-align: center;
	background-color:  #CC0099;
}

div.img2 {
margin-top: -470px;
margin-right: 74px;	
	padding: 5px;
	border: ;
	height: auto;
	width: auto;
	float: right;
	text-align: center;
	background-color: ;
}

div.desc {
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
}
div.desc {
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
}
.submittable {
	background: rgba(238, 238, 238, 1);
	margin: 40px;
	margin-top: 177px;
	width: 553px;
	line-height: 15px;
	padding: 5px;
}
.tickettable {
    background: rgba(255,255,255,0.5);
	margin: 40px;
	margin-top: 55px;
	
	width: 254px;
	line-height: 23px;
    padding:5px;
}
.locationtable {
    background: rgba(255,255,255,0.5);
    margin: 40px;
	margin-left: 213px;
	width: 227px;
    line-height:40px;
    padding:5px;
}

.table {
    background: rgba(255,255,255,0.5);
    margin: 20px;
    width: 280px;
    line-height:40px;
    padding:5px;
}
.tasktable {
    background: #eee;
	margin: 30px;
	margin-left: 72px;
	width: 471px;
    line-height:40px;
    padding:5px;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #bbb;
}
.searchtable {
    background: rgba(255,255,255,0.5);
    margin: 80px;
	margin-left: 72px;
	margin-bottom: -30px;
    width: 205px;
    line-height:40px;
    padding:5px;
}
td,th{	
	padding: 4px; 8px;
	border-top: 1px solid #ddd;
}
tbody tr:nth-child(even)  td {
 background-color: #; 
 }
.logout {
    background: rgba(255,255,255,0.5);
    margin: 10px;
    width: 270px;
    line-height:20px;
    padding:3px;
	float:right;
}
#footer {
	background:rgba(255,255,255,0.5);
	width:100%;
	height:20px;
	position:absolute;
	bottom:0;
	left:0;
	text-align:center;
}
}
@media screen and (min-width: 800px) {
 body {
    background-image: url("images/westcord.jpg");
    background-repeat: no-repeat;
	font-family: calibri;
	width: 100%;
}
ul{
 margin: 0;
 padding: 0;
 }
div.img {
margin-top: 188px;
margin-bottom: 188px;
margin-right: 437px;
	padding: 5px;
	border: ;
	height: auto;
	width: auto;
	float: right;
	text-align: center;
	background-color:  #e0ffff;
}

div.img2 {
margin-top: -470px;
margin-right: 141px;	
	padding: 5px;
	border: ;
	height: auto;
	width: auto;
	float: right;
	text-align: center;
	background-color: ;
}

div.desc {
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
}
div.desc {
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
}

.table {
    background: rgba(255,255,255,0.5);
    margin: 20px;
    width: 280px;
    line-height:40px;
    padding:5px;
}

.logout {
    background: rgba(255,255,255,0.5);
    margin: 10px;
    width: 270px;
    line-height:20px;
    padding:3px;
	float:right;
}
.submittable {
    background: rgba(255,255,255,0.5);
    margin: 40px;
    width: 384px;
    line-height:40px;
    padding:5px;
}
.searchtable {
    background: rgba(255,255,255,0.5);
    margin: 80px;
	margin-left: 127px;
	margin-bottom: -30px;
    width: 205px;
    line-height:40px;
    padding:5px;
}
.locationtable {
    background: rgba(255,255,255,0.5);
    margin: 40px;
	margin-left: 576px;
	width: 227px;
    line-height:40px;
    padding:5px;
}
.tasktable {
   
	margin-left: 131px;
	margin-top: 25px;
	width: 646px;
    line-height:40px;
    padding:5px;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #bbb;
}
td,th{	
	padding: 4px; 8px;
	border-top: 1px solid #ddd;
}
tbody tr:nth-child(even)  td {
 background-color: #eee; 
 }
#footer {
	background:rgba(255,255,255,0.5);
	
	height:20px;
	position:absolute;
	bottom:0;
	left:0;
	text-align:center;
}
}

@media screen and (min-width: 1024px) {
 body {
    background-image: url("images/westcord.jpg");
    background-repeat: no-repeat;
	font-family: calibri;
	width: 100%;
}
ul{
 margin: 0;
 padding: 0;
 }
div.img {
    margin-top: 130px;
	margin-bottom: 187px;
	margin-right: 515px;
	padding: 5px;
	border: ;
	height: auto;
	width: auto;
	float: right;
	text-align: center;
	background-color: #C0C0C0; 
}

div.img2 {
	margin-top: -467px;
	margin-right: 273px;	
	padding: 5px;
	border: ;
	height: auto;
	width: auto;
	float: right;
	text-align: center;
	background-color: ;
}
div.desc {
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
}
div.information{ 
 display: none; } 

.table {
    background: rgba(255,255,255,0.5);
    margin: 20px;
    width: 280px;
    line-height:40px;
    padding:5px;
}
.tasktable {
   
     background: transparent;
	margin: 348px;
	margin-left: 172px;
	margin-top: 20px;
	width: 1232px;
    line-height:40px;
    padding:5px;
	border-style: none;
	border-collapse: collapse; 
}
	/* Zebra striping */
	tr:nth-of-type(odd) { 
		background: #eee; 
	}
	th { 
		background: #333; 
		color: white; 
		font-weight: bold; 
	}
	td, th { 
		padding: 6px; 
		border: 1px solid #ccc; 
		text-align: left; 
	}

.taskform {
    background: rgba(255,255,255,0.5);
	margin: 62px;
	margin-top: 20px;
	width: 1232px;
    line-height:40px;
    padding:5px;
}
.submittable {
    background: rgba(255,255,255,0.5);
    margin: 40px;
    width: 550px;
    line-height:40px;
    padding:5px;
}
.locationtable {
    background: rgba(255,255,255,0.5);
    margin: 40px;
	margin-left: 576px;
	width: 227px;
    line-height:40px;
    padding:5px;
}

.searchtable {
    background: rgba(255,255,255,0.5);
    margin: 100px;
	
	
	margin-top: 77px;
	margin-left: 175px;
	
	margin-bottom: -30px;
    width: 205px;
    line-height:40px;
    padding:5px;
}

.logout {
    background: rgba(255,255,255,0.5);
    margin: 35px;
	margin-top: -72px;
    width: 270px;
    line-height:20px;
    padding:3px;
	float:right;
}
#footer {
	background:rgba(255,255,255,0.5);
	width:100%;
	height:20px;
	position:absolute;
	bottom:0;
	left:0;
	text-align:center;
}

	  

}

@media screen and (min-width: 1680px) {
 body {
    background-image: url("images/westcord.jpg");
    background-repeat: no-repeat;
	font-family: calibri;
	width: 100%;
}
ul{
 margin: 0;
 padding: 0;
 }
div.img {
    margin-top: 130px;
	margin-bottom: 187px;
	margin-right: 893px;
	padding: 5px;
	border: ;
	height: auto;
	width: auto;
	float: right;
	text-align: center;
	background-color: #C0C0C0; 
}

div.img2 {
	margin-top: -467px;
	margin-right: 577px;	
	padding: 5px;
	border: ;
	height: auto;
	width: auto;
	float: right;
	text-align: center;
	background-color: ;
}
div.desc {
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
}


.table {
    background: rgba(255,255,255,0.5);
    margin: 20px;
    width: 280px;
    line-height:40px;
    padding:5px;
}
.tasktable {
   
     background: transparent;
	margin: 348px;
	margin-top: 20px;
	width: 1232px;
    line-height:40px;
    padding:5px;
	border-style: none;
	border-collapse: collapse; 
}
	/* Zebra striping */
	tr:nth-of-type(odd) { 
		background: #eee; 
	}
	th { 
		background: #333; 
		color: white; 
		font-weight: bold; 
	}
	td, th { 
		padding: 6px; 
		border: 1px solid #ccc; 
		text-align: left; 
	}

.taskform {
    background: rgba(255,255,255,0.5);
	margin: 62px;
	margin-top: 20px;
	width: 1232px;
    line-height:40px;
    padding:5px;
}
.submittable {
    background: rgba(255,255,255,0.5);
    margin: 40px;
    width: 550px;
    line-height:40px;
    padding:5px;
}
.locationtable {
    background: rgba(255,255,255,0.5);
    margin: 40px;
	margin-left: 576px;
	width: 227px;
    line-height:40px;
    padding:5px;
}

.searchtable {
    background: rgba(255,255,255,0.5);
    margin: 100px;
	margin-left: 64px;
	margin-bottom: -30px;
	margin-top: 77px;
	margin-left: 354px;
	
	margin-bottom: -30px;
    width: 205px;
    line-height:40px;
    padding:5px;
}

.logout {
    background: rgba(255,255,255,0.5);
    margin: 35px;
	margin-top: -72px;
    width: 270px;
    line-height:20px;
    padding:3px;
	float:right;
}
#footer {
	background:rgba(255,255,255,0.5);
	width:100%;
	height:20px;
	position:absolute;
	bottom:0;
	left:0;
	text-align:center;
}

	  

}
